*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
  >.part1{
    width: 100%;
    height: 100vh;
    background-image: url(img/photo-home.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

   
   >div{
      &:first-of-type{
        display: flex;   
        flex-direction: row;
        justify-content: space-between;
         align-items: center;

         >div {
            >i {
                color: white;
                font-size: 30px;

                &:first-of-type {
                    margin-right: 15px;
                }
            }
        }

         >figure{
            >img{
                margin: 30px;
            }
         }
         
      }

      &:last-of-type{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        >p{
            font-size: 30px;
            margin: 15px 0;
            font-family: "Megrim", serif;
        }
        >h1{
            font-size: 70px;
            margin: 15px 0;
            font-family: "Megrim", serif;
        }
        >button{
            padding: 15px;
            text-transform: uppercase;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            font-size: 18px;
            margin-top: 15px 0;
            cursor: pointer;
            &:hover{
                color: slategrey;
            }

        }

      }
   }

  }  

  >.part2{
    background-color: rgb(40 42 45);
        width: 100%;
        padding: 80px 30px;

        >div{
            &:first-of-type{
                display: flex;
                flex-direction: column;
                align-items: center;
                >h2{
                  color: white;
                }
                >p{
                    color: rgb(119 119 119);
                    width: 60%;
                    text-align: center;
                    font-size: 18px;
                    margin-bottom: 80px;
                    line-height: 45px;
                }
            }
            &:last-of-type{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 30px;
               >img{
               width: 350px;
               
               }
            }
        }
  }

  >footer{
    width: 100%;
    background-color: #212326;
    padding: 50px;

    >figure{
        margin-bottom: 30px;
    }

    >div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        
        >p{
            color: rgb(119 119 119);

            a:active{
                color: yellowgreen;
            }
               >a{
                color: white;
                text-decoration: none;
               }
        }

       >div{
        display: flex;
        flex-direction: row;
        gap: 14px;

        >span {
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            background-color: white;

            >i {
                font-size: 25px;
                
            }
        }
    
    }
       }
    }
  }
